<h1><%= @flat.description %></h1>
<h3> <%= @flat.adress %></h3>
<%= simple_form_for([@flat, @booking]) do |f| %>
  <%= f.submit %>
<% end %>

<!-- add a link to go back to the index -->
<%= link_to "index", root_path %>
